{% extends "common/base.html" %}
{% load common_tags %}


{% block content %}

{% include "portal/home_welcome.html" %}

<div class="row">

  <div class="col-lg-6 mt-2 mb-3 project-block home-block">
    <h2>Projects 
        <a href="#" data-toggle="popover" title="Projects" data-trigger="hover" data-content="Projects organize your allocations and manage group membership.">
        <i class="fas fa-info-circle" aria-hidden="true"></i><span class="sr-only">Projects organize your allocations and manage group membership.</span></a> 
    </h2>
    <hr>
    {% if project_list %}
      <ul class="list-group project-list">
        {% for project in project_list %}
          <li class="list-group-item">
            <a href="{% url 'project-detail' project.pk %}">
              <i class="fa fa-folder fa-lg" aria-hidden="true"></i>{{project.title}}  (owner: {{project.pi.first_name}} {{project.pi.last_name}})
            </a>
            {% if project.needs_review %}
              <a href="{% url 'project-review' project.pk %}"><span class="badge badge-warning">Needs Review</span></a>
            {% endif %}
          </li>
        {% endfor %}

        {% if project_list|length >= 5 %}
          <li class="list-group-item">
            <a href="{% url 'project-list' %}">
              <i class="fa fa-folder-plus fa-lg" aria-hidden="true"></i>View all projects
            </a>  
          </li>
        {% endif %}
      </ul>
    {% else %}
      <div class="alert alert-light" role="alert"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> 
        You are not currently associated with any projects. You must be in a project to have resource allocations.
      </div>
      {% if user.userprofile.is_pi or user.is_superuser %}
        <a class="btn btn-primary btn-block" href="{% url 'project-create' %}" role="button">Add a project</a>
        <hr>
      {% endif %}
    {% endif %}
  </div>

  <div class="col-lg-6 mt-2 mb-3 info-block home-block">
    <h2>Resource Allocations 
      <a href="#" data-toggle="popover" title="Resource Allocations" data-trigger="hover" data-content="Research computing resources, such as storage, that are currently allocated to you.">
        <i class="fas fa-info-circle" aria-hidden="true"></i><span class="sr-only">Research computing resources, such as storage, that are currently allocated to you.</span></a> 
    </h2>
    <hr>

    {% if allocation_list %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Resource Allocation</th>
            <th scope="col">Project</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for allocation in allocation_list %}
          <tr>
            <td>
              <a href="{% url 'allocation-detail' allocation.id %}" class="text-nowrap">{{allocation.get_parent_resource}}</a>
              {% if allocation.get_parent_resource.get_ondemand_status == 'Yes' and ondemand_url %}
              <a href = "{{ondemand_url}}"> {% load static %}  <img src="/static/core/portal/imgs/ondemand.png" alt="ondemand cta" width="25" height="25"></a>
              {% endif %}
              {% with allocation.get_information as allocation_information %}
              {% if allocation_information != '' %}
                <br>{{allocation_information}}
              {% else %}
                <br>{{allocation.description|default_if_none:""}}
              {% endif %}
              {% endwith %}
            </td>
            
            <td>{{allocation.project.title}}</td>
            <td> 
              {% include "allocation/detail/allocation_status.html" %}
            </td>
          </tr>
          {% endfor %}

        {% if allocation_list|length >= 5 %}
          <tfoot>
            <tr>
              <td colspan="3">
                <a href="{% url 'allocation-list' %}">
                  View all resource allocations
                </a>  
              </td>
            </tr>
          </tfoot>
        {% endif %}


        </tbody>
      </table>
    {% else %}
      <div class="alert alert-light" role="alert">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> You are not currently associated with any resource allocations.
      </div>
    {% endif %}
  </div>
</div>

{% include "portal/home_extras.html" %}


<div class="row">
  {% include "portal/extra_app_templates.html" %}
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    $("#navbar-main > ul > li.active").removeClass("active");
    $("#navbar-home").addClass("active");
    $('[data-toggle="popover"]').popover();
  });
</script>
{% endblock %}
