{% extends "common/base.html" %}
{% load common_tags %}


{% block content %}

{% include "portal/home_welcome.html" %}

<div class="row">

  <div class="col-lg-6 mt-2 mb-3 project-block home-block">
    <h2>Projects 
        <a href="#" data-toggle="popover" title="Projects" data-trigger="hover" data-content="Projects organize your allocations and manage group membership.">
        <i class="fas fa-info-circle" aria-hidden="true"></i><span class="sr-only">Projects organize your allocations and manage group membership.</span></a> 
        <a href="{% url 'project-list' %}">&raquo; <span class='see-all'>all</span></a></h2>
    <hr>
    {% if project_list %}
      <ul class="list-group project-list">
        {% for project in project_list %}
          <li class="list-group-item">
            <a href="{% url 'project-detail' project.pk %}">
              <i class="fa fa-folder fa-lg" aria-hidden="true"></i>{{project.title}}  (owner: {{project.pi.first_name}} {{project.pi.last_name}})
            </a>
            {% if project.needs_review %}
              <a href="{% url 'project-review' project.pk %}"><span class="badge badge-warning">Needs Review</span></a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-light" role="alert"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> 
        You are not currently associated with any projects. You must be in a project to have resource allocations.
      </div>
      {% if user.userprofile.is_pi or user.is_superuser %}
        <a class="btn btn-primary btn-block" href="{% url 'project-create' %}" role="button">Add a project</a>
        <hr>
      {% endif %}
    {% endif %}
  </div>

  <div class="col-lg-6 mt-2 mb-3 allocation-block home-block">
    <h2>Resource Allocations 
      <a href="#" data-toggle="popover" title="Resource Allocations" data-trigger="hover" data-content="Research computing resources, such as storage, that are currently allocated to you.">
        <i class="fas fa-info-circle" aria-hidden="true"></i><span class="sr-only">Research computing resources, such as storage, that are currently allocated to you.</span></a> 
        <a href="{% url 'allocation-list' %}">&raquo; <span class='see-all'>all</span></a></h2>
    <hr>

    {% if allocation_list %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Resource Allocation</th>
            <th scope="col">Info</th>
            <th scope="col">Project</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for allocation in allocation_list %}
          <tr>
            <td>
              <a href="{% url 'allocation-detail' allocation.id %}" class="text-nowrap">{{allocation.get_parent_resource}}</a>
              {% if allocation.get_parent_resource.get_ondemand_status == 'Yes' and ondemand_url %}
              <a href = "{{ondemand_url}}"> {% load static %}  <img src="/static/core/portal/imgs/ondemand.png" alt="ondemand cta" width="25" height="25"></a>
              </td>
              {% endif %}
              {% with allocation.get_information as allocation_information %}
              {% if allocation_information != '' %}
              <td>{{allocation_information}}</td>
              {% else %}
              <td>{{allocation.description|default_if_none:""}}</td>
              {% endif %}
              {% endwith %}

            
            <td>{{allocation.project.title}}</td>
            <td> 
            {%  if allocation.status.name == "Expired" and allocation.expires_in < 0 %}
            <span class="badge badge-pill badge-danger">Expired</span>
            {%  elif allocation.status.name == "Renewal Requested" %}
            <span class="badge badge-pill badge-danger">Renewal Requested</span>
            {%  elif allocation.expires_in >= 0 and allocation.expires_in <= 30 %}
            <span class="badge badge-pill badge-danger">Expires in <span
                  class="badge badge-light">{{allocation.expires_in}}</span> day{{allocation.expires_in|pluralize }}</span>
            {% elif allocation.expires_in > 30 and allocation.expires_in <= 90 %}
            <span class="badge badge-pill badge-warning">Expires in <span
                  class="badge badge-light">{{allocation.expires_in}}</span> day{{allocation.expires_in|pluralize }}</span>
            {% elif allocation.status.name == "Pending" %}
            <span class="badge badge-pill badge-info">{{allocation.status}}</span>
            {% elif allocation.status.name == "Active" %}
              {% if user_status|get_value_by_index:forloop.counter0 == 'PendingEULA' %}
              <a href="{% url 'allocation-review-eula' allocation.pk %}" class="btn btn-info btn-block">Review and Accept EULA</a>
              {% else %}
              <span class="badge badge-pill badge-success">{{allocation.status}}</span>
              {% endif %}
            {% elif allocation.status.name == "New" %}
            <span class="badge badge-pill badge-warning">Requested</span>
            {% else %}
            <span class="badge badge-pill badge-info">{{allocation.status}}</span>
            {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="alert alert-light" role="alert">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> You are not currently associated with any resource allocations.
      </div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-lg-12 mt-4">
    <hr>
  </div>
</div>

{% include "portal/home_extras.html" %}


<div class="row">
  {% include "portal/extra_app_templates.html" %}
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    $("#navbar-main > ul > li.active").removeClass("active");
    $("#navbar-home").addClass("active");
    $('[data-toggle="popover"]').popover();
  });
</script>
{% endblock %}
