


{% url 'account-status' as account_status_url %}
{% if account_status_url%}

<div class="card mb-2">
  <div class="card-header">
      <h2>Access to the Tufts HPC Cluster</h2>
  </div>
  <div class="card-body">
    <p>Need access to the Tufts HPC Cluster? </p>
    <a href="{{ account_status_url }}" class="btn btn-lg btn-primary">Register for an HPC Account</a>

      
  </div>
  <div class="card-footer">
    <a href="https://rtguides.it.tufts.edu/hpc/index.html"><i class="fa fa-book fa-lg" aria-hidden="true"></i>Tufts HPC Cluster Documentation</a>
  </div>
</div>

{% endif %}


<div class="container ">
<div class="row">
  <div class="col-12 py-5">
    <h3>Help</h3>
    <ul class="list-inline">
      <li class="list-inline-item p-2 mr-5"><a href="https://rtguides.it.tufts.edu/hpc/index.html"><i class="fa fa-book fa-lg" aria-hidden="true"></i> RCRM Documentation</a></li>
      <li class="list-inline-item p-2 mr-5"><a href="{{ settings.CENTER_HELP_URL }}"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> Contact us for Assistance</a></li>
    </ul>
  </div>
</div>
</div>



