


{% url 'account-status' as account_status_url %}
{% if account_status_url%}

<div id="cluster_registration_card" class="card">
<div class="row">
  <div class="col-lg-12 m-5 mb-5">
    <h3>Tufts HPC Cluster</h3>
    <p>Need access to the Tufts HPC Cluster? </p>
    <a href="/hpc-account/status/" class="btn btn-lg btn-primary">Register for an HPC Account</a>
  </div>
</div>
</div>

{% endif %}


<div class="container ">
<div class="row">
  <div class="col-12 py-5">
    <h3>Help</h3>
    <ul class="list-inline">
      <li class="list-inline-item p-2 mr-5"><a href="https://rtguides.it.tufts.edu/hpc/index.html" target="_blank"><i class="fa fa-book fa-lg" aria-hidden="true"></i> RCRM Documentation</a></li>
      <li class="list-inline-item p-2 mr-5"><a href="{{ settings.CENTER_HELP_URL }}"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> Contact us for Assistance</a></li>
    </ul>
  </div>
</div>
</div>



