{% extends "common/base.html" %}
{% load common_tags %}


{% block content %}

{% include "portal/home_welcome.html" %}

<div class="row my-4">
  <div class="col">
    {% if 'djangosaml2' in EXTRA_APPS %}
    <p><a class="btn btn-primary w25" href="{% url 'saml2_login' %}" role="button"><i class="fas fa-sign-in-alt" aria-hidden="true"></i>  Log in via Tufts SSO</a></p>
    {% else %}
    <p><a class="btn btn-primary w25" href="{% url 'login' %}" role="button"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Log in via Tufts SSO</a></p>
    {% endif %}
  </div>
  {% include "portal/extra_app_templates.html" %}
</div>

{% include "portal/home_extras.html" %}


{% endblock %}


{% block javascript %}
  {{ block.super }}
  <script>
    $("#navbar-main > ul > li.active").removeClass("active");
    $("#navbar-home").addClass("active");
  </script>
{% endblock %}
