{% extends "common/base.html" %}
{% load common_tags %}


{% block content %}
<div class
<div class="row">
  <br/>
  <div class="col-lg-12">
  <p class="lead">Make storage requests, manage users and assign billing details in the Research Computing ecosystem.</p>
  </div>
  <br/>
</div>

<div class="row my-4">
  <div class="col mr-5">
    {% if 'djangosaml2' in EXTRA_APPS %}
    <p><a class="btn btn-primary btn-block" href="{% url 'saml2_login' %}" role="button"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Log In</a></p>
    {% else %}
    <p><a class="btn btn-primary btn-block" href="{% url 'login' %}" role="button"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Log In</a></p>
    {% endif %}
  </div>
  {% include "portal/extra_app_templates.html" %}
</div>

{% include "portal/home_extras.html" %}


{% endblock %}


{% block javascript %}
  {{ block.super }}
  <script>
    $("#navbar-main > ul > li.active").removeClass("active");
    $("#navbar-home").addClass("active");
  </script>
{% endblock %}
