 <!-- Allocation Information Card -->
<div class="card mb-3">
  <div class="card-header">
    {% if allocation.is_changeable and not allocation.is_locked and is_allowed_to_update_project and allocation.status.name in 'Active, Renewal Requested, Payment Pending, Payment Requested, Paid' %}
    <div class="row">
      <div class="col">
        <h3><i class="fas fa-list" aria-hidden="true"></i> Allocation Information</h3>
      </div>
      <div class="col">
        <a class="btn btn-primary" href="{% url 'allocation-change' allocation.pk %}" role="button" style="float: right;">
                Request Change
        </a>
      </div>
    </div>
    {% else %}
      <h3><i class="fas fa-list" aria-hidden="true"></i> Allocation Information</h3>   
    {% endif %}
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <tr>
            <th scope="row" class="text-nowrap">Project:</th>
            <td><a href="{% url 'project-detail' allocation.project.pk %}">{{ allocation.project }}</a></td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Resource{{ allocation.resources.all|pluralize }} in allocation:</th>
            <td>
              {% if allocation.get_resources_as_list %}
                {% for resource in allocation.get_resources_as_list %}
                  <a href="{% url 'resource-detail' resource.pk %}">{{ resource }}</a> <br>
                {% endfor %}
            {% else %}
              None
            {% endif %}
            </td>
          </tr>
            <tr>
              <th scope="row" class="text-nowrap">Quantity:</th>
              <td>{{ allocation.quantity }}</td>
            </tr>
          <tr>
            <th scope="row" class="text-nowrap">Justification:</th>
            <td>{{ allocation.justification }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Status:</th>
            <td>
                {{ form.status }}
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Start Date:</th>
            <td>
                {{ form.start_date }}
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">End Date:</th>
            <td>
              {{ form.end_date }}
              {% if allocation.is_locked and allocation.status.name == 'Active' and allocation.expires_in <= 60 and allocation.expires_in >= 0 %}
              <span class="badge badge-warning"><i class="far fa-clock" aria-hidden="true"></i>
                Expires in {{allocation.expires_in}} day{{allocation.expires_in|pluralize}} - Not renewable
              </span>
              {% elif is_allowed_to_update_project and ALLOCATION_ENABLE_ALLOCATION_RENEWAL and allocation.status.name == 'Active' and allocation.expires_in <= 60 and allocation.expires_in >= 0 %}
                <a href="{% url 'allocation-renew' allocation.pk %}">
                <span class="badge badge-warning"><i class="fas fa-redo-alt" aria-hidden="true"></i>
                Expires in {{allocation.expires_in}} day{{allocation.expires_in|pluralize}} - Click to renew
                </span>
                </a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Description:</th>
            <td>
                {{ form.description }}
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Created:</th>
            <td>{{ allocation.created|date:"M. d, Y" }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-nowrap">Last Modified:</th>
            <td>{{ allocation.modified|date:"M. d, Y" }}</td>
          </tr>
          <tr>
            {% if request.user.is_superuser or request.user.is_staff %}
              <th scope="row" class="text-nowrap">Lock/Unlock Allocation:</th>
              <td>
                {{ form.is_locked }}
              </td>
            {% else %}
              {% if allocation.is_locked %}
                <th scope="row" class="text-nowrap">Locked</th>
                <td><i class="fas fa-lock" aria-hidden="true"></i></td>
              {% else %}
                <th scope="row" class="text-nowrap">Unlocked</th>
                <td><i class="fas fa-lock-open" aria-hidden="true"></i></td>
              {% endif %}
            {% endif %}
          </tr>
          {% if request.user.is_superuser or request.user.is_staff %}
            <tr>
              <th scope="row" class="text-nowrap">Allow Change Requests:</th>
              <td>
                {{ form.is_changeable }}
              </td>
            </tr>
          {% endif %}
        </table>
      </div>
      <div class="float-right">
        {% if allocation.status.name == 'New' or allocation.status.name == 'Renewal Requested' %}
          <button type="submit" name="action" value="approve" class="btn btn-success mr-1 confirm-activate">Approve</button>
          <button type="submit" name="action" value="deny" class="btn btn-danger mr-1 confirm-deny">Deny</button>
        {% endif %}
        <button type="submit" name="action" value="update" class="btn btn-primary"><i class="fas fa-sync" aria-hidden="true"></i> Update</button>
    </div>
    </form>
  </div>
</div>

{% if attributes or attributes_with_usage %}
  <div class="card mb-3">
    <div class="card-header">
      <h3 class="d-inline"><i class="fas fa-info-circle" aria-hidden="true"></i> Allocation Attributes</h3>
      <div class="float-right">
          <a class="btn btn-success" href="{% url 'allocation-attribute-add' allocation.pk %}" role="button">
            <i class="fas fa-plus" aria-hidden="true"></i> Add Allocation Attribute
          </a>
          <a class="btn btn-danger" href="{% url 'allocation-attribute-delete' allocation.pk %}" role="button">
            <i class="fas fa-minus" aria-hidden="true"></i> Delete Allocation Attributes
          </a>
      </div>
    </div>
    <div class="card-body">
      {% if attributes %}
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col">Attribute</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              {% for attribute in attributes %}
                {% if attribute.allocation_attribute_type.is_private %}
                  <tr style="background-color:#eee">
                    <td><i class="fas fa-lock" aria-hidden="true"></i> {{attribute}}</td>
                    <td>{{attribute.value}}</td>
                  </tr>
                {% else %}
                  <tr>
                    <td>{{attribute}}</td>
                    <td>
                      {{attribute.value}}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      {% if attributes_with_usage %}
        <hr>
        {% for attribute in attributes_with_usage %}
          <div class="card mb-3 mr-1">
            <div class="card-body">
              <h4 class="card-title">{{attribute}}</h4>
              <div id="gauge-{{forloop.counter0}}"></div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% endif %}
{# End Allocation Information Card #}  
