<!-- Breadcrumbs -->
 <div class="container">
<nav aria-label="breadcrumb" class="row">
  <ol class="breadcrumb col-9">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'project-detail' allocation.project.pk %}">Project: {{ allocation.project }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Allocation ID: {{ allocation.pk }} 

      {% include "allocation/detail/allocation_status_badge.html" %}

    {% if allocation.is_locked %}
      <i class="fas fa-lock" aria-hidden="true"></i>
    {% endif %}

    </li>
  </ol>      
  <div class="breadcrumb col-3 d-flex justify-content-end">
    <a class="" href="#notifications">
      Notifications <span class="badge badge-secondary">{{notes.count}}</span>
    </a>
  </div> 
</nav>
 </div>
