<div class="card mb-3">
  <div class="card-header">
    <h3 class="d-inline"><i class="fas fa-info-circle" aria-hidden="true"></i> Change Requests</h3> <span class="badge badge-secondary">{{allocation_changes.count}}</span>
  </div>
  
  <div class="card-body">
    {% if allocation_changes %}
      <div class="table-responsive">
        <table id="allocation_change_table" class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">Date Requested</th>
              <th scope="col">Status</th>
              <th scope="col">Notes</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for change_request in allocation_changes %}
                <tr>
                  <td>{{ change_request.created|date:"M. d, Y" }}</td>
                  {% if change_request.status.name == 'Approved' %}
                    <td class="text-success">{{ change_request.status.name }}</td>
                  {% elif change_request.status.name == 'Denied' %}
                    <td class="text-danger">{{ change_request.status.name }}</td>
                  {% else %}
                    <td class="text-info">{{ change_request.status.name }}</td>
                  {% endif %}
                  </td>
                  {% if change_request.notes %}
                    <td>{{change_request.notes}}</td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  <td><a href="{% url 'allocation-change-detail' change_request.pk %}"><i class="far fa-edit" aria-hidden="true"></i><span class="sr-only">Edit</span></a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    {% else %}
      <div class="alert alert-info" role="alert">
        <i class="fas fa-info-circle" aria-hidden="true"></i>
         There are no allocation changes to display.
      </div>
    {% endif %}
  </div>
</div>

