{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Create Project
{% endblock %}

<p>
  Projects are a container to organize allocations of resources.  
  A detailed explaination can be found in the documentation at <a href="https://rtguides.it.tufts.edu/hpc/rcmr.html#projects" target="_blank">RCRM Documentation</a>.
  Tufts University's Faculty and Staff may request one or more projects be created for them.  
</p>

{% block content %}
 <form method="post">
  {% csrf_token %}
  {{ form.title |as_crispy_field }}
  {{ form.description|as_crispy_field }}
  {{ form.field_of_science.as_hidden }}
    
  <input class="btn btn-primary" type="submit" value="Save" />
  <a class="btn btn-secondary" href="{% url 'project-list' %}" role="button">Cancel</a>
</form>

{% endblock %}
