{% load common_tags %}

        <li id="navbar-help-menu" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Help</a>
          <div class="dropdown-menu">
            <a id="navbar-docs" class="dropdown-item" href="https://rtguides.it.tufts.edu">RT Documentation</a>
            <a id="navbar-allocation" class="dropdown-item" 
		href="mailto:tts-research@tufts.edu?subject=Request from Coldfront"><i class="fas fa-envelope"></i> Submit Ticket</a>
          </div>
        </li>
