{% load common_tags %}

        <li id="navbar-help-menu" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Help</a>
          <div class="dropdown-menu">
            <a id="navbar-docs" class="dropdown-item" href="https://rtguides.it.tufts.edu/hpc/index.html" target="_blank">RCRM Documentation</a>
            <a id="navbar-allocation" class="dropdown-item" 
		href="{{ settings.CENTER_HELP_URL }}"><i class="fas fa-envelope"></i> Contact us for Assistance</a>
          </div>
        </li>
